body, html {
  height: 100%;
  font-family: 'Source Sans Pro', sans-serif;
}

body {
  background-color:#3e3e3e;
}

.mygif .mybuttons{
    display: block;
}

.mygif{
  position: absolute;
  right: 45%;
  top: 7%;
}
.mybuttons{
  position: absolute;
  right: 15%;
  top: 35%;
  animation-direction: alternate;
  animation-duration: 0.9s;
}

.mybutton{

  animation-direction: alternate;
  animation-duration: 0.8s;
}

.mybutton2{

  animation-direction: alternate;
  animation-duration: 0.9s;
}

@media (max-width: 350px) {
.fixmenu{
    position: fixed;
    
}        
.mygif{
  width:inherit;
  height: inherit;    
  margin-top: 5%;  
  position:relative;
  clear: both;
  z-index: -1000;
  padding-left: 25%;    
    
}  
    
.mybuttons{
    width:100%;
    top:5%;
    clear: both;
    left:0%;

}    
}

@media (max-width: 450px) and (min-width: 350px) {
.fixmenu{
    position: fixed;
    
}     
.mygif{
  width:inherit;
  height: inherit;    
  margin-top: 5%;  
  position:relative;
  clear: both;
  z-index: -1000;
  padding-left: 31%;    
    
}  
    
.mybuttons{
    width:100%;
    top:5%;
    clear: both;
    left:5%;

}    
   
}

@media (max-width: 800px) and (min-width: 450px) {
.fixmenu{
    position: fixed;
    margin: auto;
}  
.mygif{
  width:inherit;
  height: inherit;    
  margin-top: 45%;  
  position:relative;
  left: 18%;

}  
    
.mybuttons{
    width:100%;
    top:5%;
    clear: both;
    left:40%;
    

}   
  
}



@media (max-width: 1100px) and (min-width: 800px) {
.fixmenu{
    position: fixed;
    margin: auto;
    
}     
.mygif{
  width:inherit;
  height: inherit;    
  margin-top: 45%;  
  position:relative;
  left: 40%;

}  
    
.mybuttons{
    width:100%;
    top:5%;
    clear: both;
    left:60%;

}    
}

@media (min-width: 1440px) {
    
.mygif{
  position: absolute;
  right: 45%;
  top: 7%;
}
.mybuttons{
  position: absolute;
  right: 15%;
  top: 20%;
}  
}

@media (min-width: 2560px) {
    
.mygif{
  position: absolute;
  right: 50%;
  top: 7%;
}
.mybuttons{
  position: absolute;
  right: 25%;
  top: 15%;
}  
}

v-footer{
position = "fixed"
}
